<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Page</title>
    <link href="/css/home.css" rel="stylesheet" />
</head>
<body>
    <header class="header">
        <nav class="navbar">
            <ul class="ul">
                <li class="li"><a class="ahome" href="/home">HOME</a></li>
                <li class="li"><a class="aadd" href="/admin/add">ADD STUDNET</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <h1 class="addh1">Add Students</h1>
        <form class="form" action="/add" method="post">
            <input class="intext" type="text" name="Student Name" />
            <input class="inbutton" type="button" value="submit" />
        </form>
    </main>
</body>
</html>